<<<<<<< HEAD
h1{ text-align:center; }
h1{color: rgb(241, 19, 167);}
body{background-image:("mishmish.html")
}


p {
    text-align: center;
    color: black;
    background-color: rgb(242, 248, 75);

  }

=======
h1{ text-align:center; }
h1{color: black;}
body{background-image: url("mishmish.html")
}


p {
    text-align: center;
    color: black;
    background-color: rgb(242, 248, 75);
  }

>>>>>>> 95161b2befd250edc21c2f5d7e0dcc6388c5ef6e
